<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile - Nome de Usuario</title>
        <link rel="stylesheet" href="../../public/styles/profile.css">
    </head>
    <body>
        <main>
            <div class="profile-container">
                <div class="profile-info-posts-container">
                    <div class="profile-info-container-grid">
                        <div class="profile-img"> </div>
                        <div class="username-name">
                            <h1 style="margin-bottom: 20px;">Nome de Usuário</h1>
                            <h3>Nome Real</h3>
                        </div>
                        <div class="blank"></div>
                        <div class="list-info">
                            <ul>
                                <li>
                                    <div class="info-wrapper">
                                        <div class="icon-wrapper">
                                            <img src="../../public/images/local-icon.png" alt="City Icon">
                                        </div>
                                        <h2>Cidade</h2>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-wrapper">
                                        <div class="icon-wrapper">
                                            <img src="../../public/images/email-icon.png" alt="Email Icon">
                                        </div>
                                        <h2>Email</h2>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile-buttons-wrapper">
                        <button class="button follow">Follow</button>
                        <button class="button contact">Contact</button>
                        <button class="button friend">Add Friend</button>
                    </div>
                    <div class="profile-posts-container">
                        <h2>Latest Posts</h2>
                        <ul>
                            <li><h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, fuga.</h2></li>
                            <li><h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, fuga.</h2></li>
                            <li><h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, fuga.</h2></li>
                            <li><h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, fuga.</h2></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>