* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background: rgb(216, 220, 255);
    display: flex;
    justify-content: center;
    font-family: Century Gothic;
}

main 
{
    position: relative;
    min-height: 100vh;
    width: 65vw;
    background: rgb(228, 230, 255);
}

main .post-container {
    position: relative;
    padding: 3rem;
}

main .post-container .post {
    position: relative;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 0.75rem;
}

main .post-container .post .user-info-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

main .post-container .post .user-info-container .user-img {
    width: 80px;
    height: 80px;
}

main .post-container .post .user-info-container .user-img img {
    width: 100%;
    border-radius: 50%;
}

main .post-container .post .album-container {
    position: relative;
    margin-top: 20px;
}

main .post-container .post .album-container .album-image-container {
    position: relative;
    height: 550px;
    width: 100%;
}

main .post-container .post .album-container .album-image-container img{
    display: block;
    width: 100%;
    height: 100%;
}

main .post-container .post .album-container .album-info-container { margin-top: 20px; }
main .post-container .post .album-container .album-info-container .comments-number { margin-top: 25px; }

@media (max-width: 730px) 
{
    main { width: 95vw; }
}

@media (max-width: 500px) 
{
    main .post-container { padding: 1.5rem; }
    main .post-container .post .user-info-container 
    {
        gap: 0px;
        flex-direction: column;
    }
    main .post-container .post .album-container .album-info-container p { text-align: center; }
}